[package]
name = "kvproto"
version = "0.0.1"
keywords = ["TiKV"]
edition = "2018"
build = "build.rs"

[lib]
name = "kvproto"
path = "src/lib.rs"

[features]
default = ["protobuf-codec"]
protobuf-codec = ["protobuf"]
prost-codec = ["bytes", "prost", "prost-derive", "grpcio/prost-codec"]
regenerate = []

[dependencies]
protobuf = { version = "~2.0", optional = true }
prost = { path = "../prost", optional = true }
prost-derive = { path = "../prost/prost-derive", optional = true }
bytes = { version = "0.4.11", optional = true }
futures = "0.1"
grpcio = { path = "../grpc-rs" }
raft = "0.4"

[build-dependencies]
protobuf-build = { path = "../kvproto-build" }
